footer {
    text-decoration: none;
    

}

a {
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    color: aliceblue;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5; 
}


