footer {
    height: 150px;
    

    padding:70px;
    margin-top: 70px;

    

}

header {
    padding: 30px;
}

a {
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    color: aliceblue;
    text-decoration: none;
}


#texto-home {
    padding: 50px;
}

body {
    background-image: url(img/learning-4264032.png); 
    background-repeat: repeat-y repeat-x;
    background-attachment: fixed;
    opacity: 0,5;
}
