body {
    background-color: aliceblue;
}

menu {
    background-attachment: fixed;
    background-color: blue;
    font-weight: bold;
    text-decoration: none;
    border: none;
    display: inline-block;

}

footer {
    background-attachment: fixed;
    border: none;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;

}